body {
    margin: 0;
    padding: 0;
  }

header {
    background-color: lightgrey;
    /* margin: 0 auto; */
    text-align: center;
    font-size: larger;
    vertical-align: middle;
}
#button-section{
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    vertical-align: middle;
}

#category-view {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    padding-top: 10px;
    padding-bottom: 30px;
}
#meal-view {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    padding-top: 10px;
    padding-bottom: 30px;
}

div.square {
    background-color: blanchedalmond;
    height: 400px;
    width: 400px;
    padding: 10px;
    border-radius: 50px;
}

div.list{
    background-color: coral;
    height: 200px;
    width: 200px;
    padding: 10px;
    border-radius: 50px;
}

div#form-container {
    visibility: hidden;
}